html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  overscroll-behavior: none;
  background-color: #dfb7fb;
}
.menu {
  width: 100vw;
  height: 40px;
  background: linear-gradient(to right, white, #dfb7fb);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
  text-decoration: double;
  padding: 0;
  margin: 0;
  text-align: center;
  border: solid #dfb7fb 3px;
}
.menu a:hover {
  transition: 0.2s;
  color: aliceblue;
}
.menu a {
  text-decoration: underline;
  transition: 0.3s;
  color: black;
}
.start {
  background: linear-gradient(to left, #dfb7fb, rgb(0, 153, 255));
  height: 1080px;
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0;
  padding-top: 15vh;
}
.img {
  aspect-ratio: 1/2;
  width: 300px;
  min-width: 100px;
  max-width: 400px;
  border-radius: 40px;
  margin-top: 60px;
  border: solid #dfb7fb 5px;
}
.second {
  height: 1080px;
  background: linear-gradient(to left, #dfb7fb, rgb(0, 153, 255));
  width: 100vw;
  padding: 0;
  margin: 0;
  margin-top: -2vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.b1,
.b2,
.b3,
.b4,
.b5,
.b6 {
  background-color: white;
  height: 100px;
  width: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: solid #dfb7fb 2px;
  color: black;
  font-family: "Courier New", Courier, monospace;
  border-radius: 12px;
}

.bread {
  font-size: xx-large;
  padding-left: 5vh;
  text-align: center;
}
.bread h1 {
  font-size: 100px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

@media screen and (max-width: 930px) {
  .img {
    width: 150px;
  }
  .bread {
    font-size: larger;
    margin-top: 40px;
  }
  .bread h1 {
    font-size: 50px;
  }
  .menu {
    gap: 20vw;
  }
}
.first {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to left, #dfb7fb, rgb(0, 153, 255));
  margin: 0;
  padding: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 25vh;
}
.lonks {
  text-decoration: none;
  color: black;
  background-color: white;
  height: 90px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.lonks :hover {
  color: aquamarine;
}
